*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
main{
    background-color: #945537;
}
header {
    background-image: url('img/dom.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    position: relative; /* Adicione esta propriedade */
}

h1 {
    font-size: 36px;
}
.manchete {
    margin: 20px 0;
    font-size: 24px;
}

.container{
    background-color:  #ffffff;
    border-radius: 20px;
}

.center{
    text-align: center;
}

p{
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    padding: 20px;
}

.mt{
    margin-top: 80px;
}
